/*/////////////////////////////*/
.plugincontainer{ display:block; float:left; width:100%; background:none; position:relative; }
.col5, .col10, .col15, .col20, .col25, .col30, .col35, .col40, .col45, .col50, .col55, .col60, .col65, .col70, .col75, .col80, .col85, .col90, .col95, .col100, .row{ display:block; float:left; width:100%; margin:0px; padding:0px; border:none; }
.col5{ width:5%; }
.col10{ width:10%; }
.col15{ width:15%; }
.col20{ width:20%; }
.col25{ width:25%; }
.col30{ width:30%; }
.col35{ width:35%; }
.col40{ width:40%; }
.col45{ width:45%; }
.col50{ width:50%; }
.col55{ width:55%; }
.col60{ width:60%; }
.col65{ width:65%; }
.col70{ width:70%; }
.col75{ width:75%; }
.col80{ width:80%; }
.col85{ width:85%; }
.col90{ width:90%; }
.col95{ width:95%; }
.col100, .row{ width:100%; }
.br{ width:100%; float:left; }

.t9, .t9 *{ font-size:9px; }
.t10, .t10 *{ font-size:10px; }
.t11, .t11 *{ font-size:11px; }
.t12, .t12 *{ font-size:12px; }
.t14, .t14 *{ font-size:14px; }
.t16, .t16 *{ font-size:16px; }
.t22, .t22 *{ font-size:22px; }

.left{ float:left; }
.right{ float:right; }

.redt{ color:#F00; }
.hide{ display:none; }
hr{ display:block; float:left; height:2px; border:2px solid #ccc; width:100%; }
.hover{ background:#e4e4e4; }
/*/////////////////////////////*/
/*/////////////////////////////*/

.fileicon{ background: url(img/icon-doc.png) center no-repeat;}
.pdf{ background: url(img/icon-pdf.gif) center no-repeat;}


/* defaults */
.title{ font-weight:bold; text-transform:capitalize; }


a.add, .add{ background:url(img/addicon.png) no-repeat center; float:left; width:15px; height:15px; }
.btn{ margin:15px;}
a.selected, .selected{ color:#9f212c; }


.ui-tabs-panel{ float:left; }


.f1 .col{ float:left; margin:0px 4px; }
.f1 .row{ border-bottom:#CCC solid 1px; }

.f1 .header{ color:#333; font-weight:bold; text-transform:capitalize; padding:5px 10px; margin:2px 0px; width:100%; font-size: 16px; }
.f1 .title{ color:#333; font-weight:bold; text-transform:capitalize; padding:5px 10px; margin:2px 0px; width:100%; }
.f1 .field-desc{ color:#666; text-transform:capitalize; margin:2px; font-size:10px; width:100%; }
.f1 .field{ width:420px; padding: 10px 0px; }
.f1 .field input{ width:400px; }
.f1 .field input.radio{ width:auto; float: left; }
.f1 .field .ch{ width:32%; display: block; float: left; }
.f1 .field .ch .subtitle{ float: left; text-align: left; padding-left: 5px; font-size: 12px; text-transform: capitalize; }

.f1 .type1{ border-bottom:dotted 1px #999; padding:5px 0px;  }
.f1 .type1 .title{ float:left; width:30%; }
.f1 textarea{ float:left; width:400px; height:auto; min-height:150px; }
.f1 .permission *{ font-size:10px; color:#333; }
.f1 .permission{ width:400px; }
.f1 .permission ul{ margin:0px; }
.f1 .permission ul ul li{ float:left; width:32%; }

.f1 .media-admin{ width: 100%; float: left; }
.f1 .media-admin .mediabox{ float: left; position: relative; width: 80px; height: 60px; overflow: hidden; margin: 1px; cursor: move; background: #ccc; }
.f1 .media-admin .mediabox a{ position: relative; z-index: 5; background: #fff; opacity: 0.5; font-size: 10px; padding: 1px 5px; }
.f1 .media-admin .mediabox a.fileurl{ width: 80px; height: 60px; position: absolute; left: 0px; top: 0px; z-index: 0; display: block; margin: 0px; padding: 0px; opacity:1; background:none; }
.f1 .media-admin .mediabox a.fileurl div{ width: 80px; height: 60px;}
.f1 .media-admin img{ width: 80px; }



.unfilled, .filled{ display:block; float:left; background:url(img/check-icon.png) no-repeat; width:16px; height:16px; }
.unfilled{ background:#ccc; }







